.snz-logo-style{
    color: black;
    font-size: 27px;
    font-weight:bold;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.snz-logo-n{
    color: black;
    font-size: 28px;
}