.typography-smaller{
    color: #2B2024;
    font-size:smaller;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.typography-small{
    color: #2B2024;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.typography-x-small{
    color: #2B2024;
    font-size:12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.typography-xx-small{
    color: #2B2024;
    font-size:xx-small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.typography-medium{
    color: #2B2024;
    font-size:medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.typography-large{
    color: #2B2024;
    font-size:large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.typography-larger{
    color: #2B2024;
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.typography-x-large{
    color: #2B2024;
    font-size:x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.typography-xx-large{
    color: #2B2024;
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.typography-note{
    color: #2b2024a7;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.typography-note-error{
    color: #ee2c2ca7;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

