.button-primary-backgroud{
  background-color: #FD0054;
  color: #FBF9FA;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.button-secondary-backgroud{
  background-color: #A80038;
  color: #FBF9FA;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}