.uploaded-products-main-container{
    width: 100%;
    display:flex;
    gap: 10px;
    padding: 10px;
    border-bottom-width: 1px;
}

.images-container{
    display: flex;
    align-items: center;
}

.additional-image-container{
    height: 380px;
    width: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.image-container{
    cursor: pointer;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.133);
}

.image-container:hover{
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.659);
}

.displayed-image-container{
    height: 365px;
    width: 380px;
    background-color: black;
}

.image-details{
    height: 100%;
    width: 100%;
    display: grid;
    color: black;
    padding-right: 15px;
    white-space: pre-wrap;
}

.image-name-availability-container{
display:flex;
justify-content: space-between;
}

.image-name-detail{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -5px;
}

.image-on-stock-container{
    color:green;
    font-weight: bold;
    font-size: 20px;
}

.image-out-stock-container{
    color:red;
    font-weight: bold;
    font-size: 20px;
}

.image-category{
    margin-bottom: 20px;
}

.image-description{
    margin-top: 20px ;
    max-height: 252px;
    overflow-wrap: break-word;
    height: 252px;
    overflow-y:auto;
    text-align: justify;
    
}