.uploaded-products-main-container{
    width: 100%;
    display:flex;
    gap: 10px;
    padding: 10px;
    border-bottom-width: 1px;
}

.images-container{
    display: flex;
    align-items: center;
}

.additional-image-container{
    height: 380px;
    width: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.image-container{
    cursor: pointer;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.133);
}

.image-container:hover{
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.659);
}

.displayed-image-container{
    height: 365px;
    width: 340px;
    /* background-color: black; */
}

.image-details{
    height: 100%;
    width: 100%;
    display: grid;
    color: black;
    padding-right: 15px;
    white-space: pre-wrap;
}

.image-name-availability-container{
display:flex;
justify-content: space-between;
}
 
.image-name-detail{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -5px;
}

.profile-image-on-stock-container{
    color: rgb(20, 231, 20);
    font-weight: bolder;
    font-size: 15px;
}

.profile-image-out-stock-container{
    color: rgb(245, 8, 8);
    font-weight: bolder;
    font-size: 15px;
}

.image-category{
    margin-bottom: 10px;
}

.image-price{
    font-weight: bold;
    margin-bottom: 10px;
}

.image-price-discounted{
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(87, 83, 83);
    text-decoration: line-through
}

.image-price-discount{
    font-weight: bold;
    margin-bottom: 10px;
    color: green;
}

.image-description{
    font-size: 14px;
    max-height: 245px;
    overflow-wrap: break-word;
    height: 245px;
    overflow-y:auto;
    text-align: justify;
    margin-bottom: 10px;
    padding-right: 10px;
    
}


.action-buttons-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-weight: bold;
    font-size: 12px;
}

.action-button-style{
    font-weight: bold;
    cursor: pointer;
}

.action-button-style:hover{
   color: rgba(0, 0, 0, 0.438)
}