.sign-up-main-container {
    gap: 5px;
    position: absolute;
    padding: 25px;
    top: 50%;
    left: 50%;
    width: 28%;
    display: grid;
    border-radius: 2%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.sign-up-title-container{
    border-bottom-width: 3px;
    border-color: #FD0054;
    margin-bottom: 5px;
}

.back-to-login-container{
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.button-container{
    margin-top: 10px;
}