.avatar-account-details-container {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}


.comment-input-field-container {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: -50px;
  }
  

.comment-input-field{
    background-color: rgba(128, 128, 128, 0.104);
    font-size:smaller;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    height: 40px;
    color: black;
    font-size:12px;
    outline: none;
    border: none;
    padding: 10px;
    resize: none;
}

.no-comment-style{
  margin-top: 5%;
  color: gray;
  display:flex;
  justify-content: center;
  align-items: center;
}